@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-600: #0891b2;
  --primary-700: #0369a1;
}

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Poppins", serif !important;
  
} 
.exteriorbanner {
  background-image: url(../public/images/Exterior-banner.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exterior-button{
  align-items: center;
  background: #fec940;
  border: 2px solid #fec940;
  border-radius: 15px !important;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 15px;
  transition: .5s;
  justify-content: center;
}
.exterior-button .icon{
  transition: 0.3s;
  margin-left: 10px;
  font-size: 15px
}
.exterior-button:hover .icon{
  transform: translateX(5px);
  color: #fff;
}
.exterior-button:hover{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}



.coloroptions-band {
  padding: 70px 50px;
  position: relative;
  overflow: hidden;
}

.coloroptions-band .content {
  text-align: center;
  margin-bottom: 55px;
}

.coloroptions-band .content h2 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
}



.coloroptions-image img {
  width: 100%;
  height: 280px;
  border-radius: 0.5rem;
  transition: transform 0.5s ease-in-out;
}

.coloroptions-band-box {
  margin-bottom: 30px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 30px;
}

.coloroptions-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 1;
  background-color: #f7f2e745;
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
  transition: 0.5s;
  transform: translate(-50%, -50%);
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  color: #fff;
  padding: 40px;
  opacity: 0; /* Start with hidden */
  visibility: hidden; /* Ensure it's not interactable */
  transition: opacity 0.5s ease, visibility 0s 0.5s; /* Smooth opacity change and delay visibility */
  z-index: 2; /* Ensure overlay content appears above the overlay */
  transform: translate(-50%, -50%); /* Ensure content is centered */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  z-index: 1; /* Ensure the overlay stays above the image */
  opacity: 1; /* Start with no visibility */
  transition: opacity 0.5s ease; /* Smooth transition */
}

.coloroptions-band-box:hover .coloroptions-box-content {
  display: none;
}

.coloroptions-band-box:hover .overlay-content {
  opacity: 1; /* Fade in the overlay content */
  visibility: visible; /* Make the content visible */
  transition: opacity 0.5s ease, visibility 0s 0s; /* Ensure visibility is immediately available after the fade */
}
.coloroptions-band-box a {
  align-items: center;
  background: #fec940;
  border: 2px solid #fec940;
  border-radius: 8px !important;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 15px;
  transition: .5s;
  /* width: 40%; */
  display: flex;
  justify-content: center;
}
.coloroptions-band-box a .icon{
  transition: 0.5s;
  margin-left: 5px;
  font-size: 15px;
}
.coloroptions-band-box a:hover .icon{
  transform: translateX(5px);
}
.coloroptions-band-box a:hover{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.overlay-content p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.overlay-content h5 {
  font-size: 25px;
  font-weight: 500;
}

.coloroptions-band .coloroptions-band-box:hover img {
  transform: translate(5px, 5px) scale(1.1); 
  transition: transform 0.5s ease-in-out;
  border-radius: 30px;
}


.ultima-box
{ 
  background: #fff;
    padding-bottom: 0;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #efefef;
    position: relative;
    display: grid;
    padding: 20px;
    justify-items: center;
    transition: 0.5s;
}
.ultima-box:hover {
  /* box-shadow: 0 7px 11px #00000014; */
  box-shadow: 0px 4px 25px #0000001a;
}

.inspired-by-button{
  padding: 5px 15px;
  border-radius: 15px !important;
  background: #fec940;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
  border: 2px solid #fec940;
  /* width: 25%; */
  margin-bottom: 30px;
  transition: 0.5s;
  font-size: 15px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.inspired-by-button .icon{
  transition: 0.3s;
  margin-left: 10px;
  font-size: 15px;
}
.inspired-by-button:hover .icon{
  transform: translateX(5px);
}
.inspired-by-button:hover{
  background-color: transparent;
  border: 1px solid #000;
}
.exterior-second-band-button{
  padding: 5px 20px;
  border-radius: 15px !important;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  border: 2px solid #fff;
  /* width: 85%; */
  transition: 0.5s;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.exterior-second-band-button .icon{
  transition: 0.3s;
  margin-left: 10px;
  font-size: 15px;
}
.exterior-second-band-button:hover .icon{
  transform: translateX(5px);
}
.exterior-second-band-button:hover{
  background-color: #fff;
  color: #000;
}
.tds-banner{
  background-image: url(../public/images/tdsbanner.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tds-product-part a{
  padding: 10px 10px;
  border-radius: 15px !important;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
  border: 2px solid #fec940;
  width: 50%;
  transition: 0.5s;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-content{
  width: 100%;
}
/* .tds-product-part a .icon {
  transition: 0.3s;
  margin-left: 10px;
  font-size: 15px;
}
.tds-product-part a:hover .icon{
  transform: translateX(5px);
} */
.tds-product-part a:hover{
  background: #fec940;
  color: #000;
}
.UltimaExterioremulsions-banner{
  height: 65vh;
  display: flex;
    justify-content: center;
    align-items: center;
}
.Exteriore-banner{
  height: 65vh;
  display: flex;
    justify-content: center;
    align-items: center;
}

.ultima-box {
  position: relative;
  transition: 0.5s;
  overflow: hidden; /* Ensure it doesn’t expand beyond its container */
}

.ultima-box::before,
.ultima-box::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-radius: 12px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.ultima-box::before {
  top: 0;
  left: 0;
  border-top: 2px solid #e51126;
  border-left: 2px solid #e51126;
}

.ultima-box::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #e51126;
  border-right: 2px solid #e51126;
}

.ultima-box:hover::before,
.ultima-box:hover::after {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
}


.gradient-text {
  background: linear-gradient(270deg, #e51126 7.07%, #25398f 98.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background: linear-gradient(270deg, #e51126 -3.07%, #25398f 98.1%);
}

.product-img {
  background-color: #5f5e5e1c;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, -50%);
}

.apex-box{
  background-color: #ffffff7a;
}
.icon{
  transition: 0.3s;
  font-size: 15px
}
a:hover .icon{
  transform: translateX(5px);
}
.reviews-banner{
  background-image: url(../public/images/reviews-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-box{
  position: relative;
  height:307px ;
  transition: 0.5s;
  overflow: hidden;
}
.services-box::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: #e51126;
  height: 0;
  width: 2px;
  transition: 0.5s;
}
.services-box:hover::before{
  height: 307px;
  width: 2px;
}
.services-box::after{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  background-color: #e51126;
  height: 0;
  width: 2px;
  transition: 0.5s;
}
.services-box:hover::after{
  height: 307px;
  width: 2px;
}
.footer-li li{
  transition: 0.5s;
}
.footer-li li:hover{
  margin-left: 10px;
  color: #e51126;
}
.mail{
  transition: 0.5s;
}
.mail:hover{
  color: #e51126;
}
.house-box{
  position: relative;
}
/* .house-box::before {
  content: '';
  left: 0;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  position: absolute;
  opacity: 0;
  background: linear-gradient(180deg, rgba(4, 13, 67, 0) 66.38%, #e51126 96.91%);
  
}
.house-box:hover::before{
  opacity: 1; 
} */


.color-box{
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 10px 15px 10px rgba(0, 0, 0, 0.05), 10px 15px 15px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
}
.calculator-banner{
  background-image: url(../public/images/calculatorbanner.jpg);
  background-position: center;
  background-size: cover;
}



.bouncing-img {
  width: 30%; 
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}






@media (max-width: 387px){
  .form-header{
    font-size: 30px !important;
  }
}
@media (max-width: 768px){
  .overlay-content {
    padding: 30px;
  }
  .last-footer{
    margin-bottom: 20px;
  }
  .bouncing-img {
    width: 50%; 
  }
  
}

@media (max-width: 423px){
  .inspired-by-button {
    font-size: 15px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1280px){
  .exterior-text{
    font-size: 25px !important;
  }
}
@media (min-width: 500px) and (max-width: 767px){
  .exterior-text{
    font-size: 45px !important;
  }
  .exterior-p{
    font-size: 20px !important;
  }
}
@media (max-width: 639px){
  
}

























/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;  /* For horizontal scrollbars */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #e51126 -3.07%, #25398f 98.1%);
  background-size: cover; /* Ensure gradient applies properly */
  border-radius: 5px;
  height: 5px;
}
